<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

<a href = "/user/getuser-page">
<input type="button" value="Get User">
</a>
<br>
<a href = "/user/signup-page">
<input type="button" value="Sign Up">
</a>

</body>
</html>
